<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment table</title>
</head>
<body>
    {% if (((num|float - num|int) == 0) and (num|int(default = 'not_int') != 'not_int')) %}
    <!-- 기존 str 값인 num을 float과 int로 캐스팅한뒤 실수형인지 구분한다. -->
    <!-- num 변수를 정수형으로 캐스팅한 뒤 default 값(integer 값으로 캐스팅 불가한 경우 자동으로 캐스팅 되는 값)의
         인자를 'not_int' 값으로 지정해줘 0 값을 입력 받을 수 있게 한다.(default의 기본 인자는 0)-->
    <!-- and 연산자를 이용해 위 두 조건이 True일 경우(정수) 조건문이 실행 된다.  -->
        <table border="1">
            <tr>
                <th>숫자</th>
                <th>문자</th>
            </tr>
            {% for i in range(1, num|int + 1) %}
            <!-- 반복문을 이용해 1에서부터 입력받은 값의 + 1 값까지 Table을 만든다. -->
                <tr>
                    <td>{{i}}</td>
                    <td>Flask</td>
                </tr>
            {% endfor %}
            <!-- 반복문 종료 -->
        </table>   
        <!-- Table 완성 --> 
    {% else %} <!-- 정수형이 아닐 경우(실수 혹은 문자)의 조건문 else -->
        <p>정수형 숫자를 입력하세요.</p>  
    {% endif %}
    <!-- 조건문 종료 -->
</body>
</html>