<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  
  <!--Navbar_Top--> 
  <nav class="navbar navbar-expand-lg navbar navbar-light fixed-top" style="background-color: #1B1F23;">
    <a class="navbar-brand" href="#" style="color: #2B8BFC; font-weight: bold;" >ToDoList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{ url_for('add_todo') }}" style="color: #B8CFE9;">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{{ url_for('modify_todo') }}" style="color: #B8CFE9;">Modify</a>
          <a class="nav-item nav-link" href="{{ url_for('del_todo') }}" style="color: #B8CFE9;">Delet </a>
        </div>
      </div>
  </nav>

<!-- 사이드바_날짜 마다 데이터를 정리할 부분 -->


    <ul class="nav flex-column col-md-2" style="float:left" >
      <li class="nav-item" style="margin-top: 80px;">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">날짜(YY.MM.DD)</a>
      </li>
      
      <li class="nav-item"></li>
         <a class="nav-link active" href="#">Active</a>
      </li>
    
    </ul>

  {% block content %}
  {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>